<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971286786724-dpeadt3bu9pmonekuaati3uj0mgoglk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971286786724-dpeadt3bu9pmonekuaati3uj0mgoglk0</string>
	<key>API_KEY</key>
	<string>AIzaSyCXfaIFDdcbe19ousgUmGaUkl9LFuH3H2M</string>
	<key>GCM_SENDER_ID</key>
	<string>971286786724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brushingHabit</string>
	<key>PROJECT_ID</key>
	<string>brushing-habit</string>
	<key>STORAGE_BUCKET</key>
	<string>brushing-habit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971286786724:ios:6cff0e89f362ee081dac31</string>
</dict>
</plist>